// ---
// Screen sizes
// ---

// Read this NOW:
// http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/

// "Start with the small screen first, then expand until it looks like shit. Time for a breakpoint!"
// -Stephen Hay

$screen-sm: 30em;
$screen-md: 48em;
$screen-lg: 60em;