$base:  			1.1rem;
$sml:  				$base*0.8;

$h1:  				$base*2.6;
$h2:  				$base*2.2;
$h3:  				$base*1.8;
$h4:  				$base*1.4;
$h5:  				$base*1.2;
$h6:  				$sml;

$sans-serif: Helvetica, sans-serif;
$serif: Georgia, serif;

$line-height-base: 1.5;

$heading-font: 	$serif;
$body-font: 	$sans-serif;
